@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

p {
    font-family: 'Roboto', sans-serif;
}

.cube {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: rotateX(-22.5deg) rotateY(135deg) rotateZ(0deg);
}

.side {
    border: none;
    background: linear-gradient(135deg, rgb(117, 156, 179) 0%, rgb(210, 234, 240) 100%);
    width: 200px;
    height: 200px;
    display: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
}

.num {
    text-align: center;
    font-size: 100px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    align-items:center;
    justify-content:center;
    margin: 0;
    line-height: 200px;
}

#display {
    background: rgb(235, 235, 235);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

#numbers {
    background: rgb(235, 235, 235);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

#matrix {
    background: rgb(235, 235, 235);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100px; /* Full-width */
    height: 25px; /* Specified height */
    background: #1f1f1f; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 100%;
    background: rgb(3, 255, 37); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 100%;
    background: rgb(3, 255, 37); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
